.header{
    text-align: right;
    text-decoration: none;
    background-image: url(img/back.jpg);
    height: 75px;
    margin: 5px;
    border-radius: 15px;
    //display: flex;
}
.header:hover a{
    color: darkslategrey;
}
.header a {
    font-size: 16px;
    font-family: serif; 
    color: black;
    font-size: 26px;
}
.header a:hover{
    color:darkblue;
}
.header img {
    height: 70px;
    float:left;
    display:block;
    padding-left: 35px;
}
.header li {
    padding: 20px;
    color: grey;
    //display: inline-block;
    float:left;
}
.header ul {
    display: inline-block;
    font-size: 26px;
}
.header li a{
    color: black;
}
.footer{
    text-align: right;
    text-decoration: none;
    color: black;
    background-image: url(img/footer.jpg);
    height: 100px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Verdana, sans-serif; 
    color: black;
    font-weight: bold;
}
.footer a {
    text-decoration: underline;
}
.footer a:visited {
    color: black;
}
.footer p{
    display: flex;
    flex-direction: row-reverse;
}
body {
    background: #f8f8f8
}
a{
    text-decoration: none;
}
a:visited {
    color: #208080; /* Цвет посещённой ссылки */
} 
a:hover {
    color: orangered; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline;
   }
.prev {
    height: 450px;
    float: right;
    border:  solid 1px;
    border-color: cadetblue;
}
ul img {
    width: 250px;
}
ul{
    list-style-type: none;
}
input, textarea, select {
    margin: 10px;
}
input[type="text"], input[type="email"], select {
    height: 25px;
    width: 300px;
    color: darkslategray;
    font-size: 16px;
    text-transform: capitalize;
}
input[type="submit"], input[type="reset"] {
    height: 30px;
    width: 150px;
    font-size: 14px;
}
legend {
    font-size: 18px;
    font-weight: bold;
    color: darkslategrey;
}
textarea {
    width: 550px;
    height: 100px;
    font-size: 14px;
    color: dimgray;
    text-transform: capitalize;
}
input[type="email"]:focus {
    color: blueviolet;
    background-color: beige;
}
p {
    text-align: justify;
    margin: 5px;
    padding: 5px;
    width: 97%;
}
iframe {
    width: 450px;
    height: 350px;
    border: 1px;
}
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #B8D9B8;
	box-shadow: 1px 2px 2px #000;
    padding-left: 15px;
}
h1{
    text-align: center;
}
#shot_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
#full_desc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.decorated_list {
    color: darkcyan;
    font-size: 15px;
    line-height: 14px;
    list-style-type: disc;
    list-style-image: url(img/point1.png);
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    height: 200px;
    text-align: center;
}
table > tbody > tr:nth-child(1) > th {
    background-color: darkgrey;
    height: 20px;
}
td, th{
    border: 1px solid black;
}
.about p:first-letter {
    color: darkblue;
    font-size: 25px;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: #D6EDBD;
    padding: 15px;
}
.container h2 {
    display: block;
}
