@import url('https://fonts.googleapis.com/css?family=Raleway:700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
}
.header{
    text-align: right;
    text-decoration: none;
    background-image: url(img/back.jpg);
    height: 75px;
    margin: 5px;
    border-radius: 15px;
    //display: flex;
}
.header:hover a{
    color: darkslategrey;
}
.header a {
    font-size: 16px;
    font-family: serif; 
    color: black;
    font-size: 26px;
}
.header a:hover{
    color:darkblue;
}
.header img {
    height: 70px;
    float:left;
    display:block;
    padding-left: 35px;
}
.header li {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    color: grey;
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 2px;
    line-height: 37px;
}
.header ul {
    display: inline-block;
    font-size: 26px;
}
.header li a{
    font-family: 'Raleway', sans-serif;
    color: black;
}
.blocks li{
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    list-style-type: none;
    float: left;
    margin: 2px;
    line-height: 37px;
    display: inline-block;
    width: 16%;
    border: 1px solid white;
}
.foot2{
    text-decoration: none;
    //background-image: url(img/footer.jpg);
    //height: 100px;
    //border-radius: 15px;
    background-color:  #333333;
    width: 100%;
    height: 47px;
    font-family: 'Roboto', sans-serif;
    color:  #dad9d9;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 21.6px;/* Приближение из-за подстановки шрифтов */
}
.footer a {
    text-decoration: underline;
}
.footer a:visited {
    color: black;
}
.foot2{
    //display: flex;
    float: right;
    margin-right: 25px;
    text-align: left;
    //flex-direction: row-reverse;
}
.foot2 p{
    padding-left: 20px;
}
.foot1{
    background-color:  #373737;
    width: 100%;
    height: 348px;
}
.menu li{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.menu ul{
    float:left;
    list-style-type: none;
    border:1px solid white;
}
.news input[type="email"]{
    background-color:  #fff51f;
    width: 180px;
    height: 30px;
    font-family: Roboto;
    color:  #333333;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 21px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.news input[type='submit']{
    background-color:  #000000;
    width: 71px;
    height: 30px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 21px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.about {
    font-family: Roboto;
    color:  #ffffff;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 12px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    width: 233px;
    height: 160px;
}
body {
    background: #f8f8f8
}
a{
    text-decoration: none;
}
a:visited {
    color: #208080; /* Цвет посещённой ссылки */
} 
a:hover {
    color: orangered; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline;
   }
.prev {
    height: 465px;
    float: left;
    border:  solid 1px;
    border-color: cadetblue;
    margin-left: 15px;
    margin-right: 15px;
}
.prev:hover {
    border-color: transparent;
}
ul img {
    width: 250px;
}
ul{
    list-style-type: none;
}
input, textarea, select {
    margin: 10px;
}
input[type="text"], input[type="email"], select {
    height: 25px;
    width: 300px;
    color: darkslategray;
    font-size: 16px;
    text-transform: capitalize;
}
input[type="submit"], input[type="reset"] {
    height: 30px;
    width: 15%;
    font-size: 14px;
}
legend {
    font-size: 18px;
    font-weight: bold;
    color: darkslategrey;
}
textarea {
    width: 550px;
    height: 100px;
    font-size: 14px;
    color: dimgray;
    text-transform: capitalize;
}
input[type="email"]:focus {
    color: blueviolet;
    background-color: beige;
}
p {
    text-align: justify;
    margin: 5px;
    padding: 5px;
    width: 97%;
}
iframe {
    width: 100%;
    height: 374px;
    border: 1px solid grey;
}
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #B8D9B8;
	box-shadow: 1px 2px 2px #000;
    padding-left: 15px;
    overflow: hidden;
}
h1{
    text-align: center;
}
#shot_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
#full_desc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.decorated_list {
    color: darkcyan;
    font-size: 15px;
    line-height: 14px;
    list-style-type: disc;
    list-style-image: url(img/point1.png);
    padding-left: 15px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    height: 200px;
    text-align: center;
}
table > tbody > tr:nth-child(1) > th {
    background-color: darkgrey;
    height: 20px;
}
td, th{
    border: 1px solid black;
}
.container p:first-letter {
    color: darkblue;
    font-size: 25px;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: #D6EDBD;
    padding: 15px;
}
.container h2 {
    display: block;
}
.buy input[type="button"] {
    background-color: #4CAF50; 
    border: 1px;
    border-color: transparent;
    color: white;
    width: 15%;
    height: 35px;
}
.buy input:hover {
    border: 1px solid black;
    background-color: forestgreen;
}
.buy input:active {
    background-color: slategrey;
    color:black;
}
.size {
    width: 25%;
}
.grid{
    float:left;
    width: 30%;
    height: 210px;
    border: 1px solid grey;
    margin-bottom: 15px;
    margin-right: 15px;
}
h3 {
    color: black;
    font-size: 16px;
    font-weight: 300;
    background-color: #B8D9B8;
	box-shadow: 1px 2px 2px #000;
    padding-left: 15px;
    overflow: hidden;
    clear: both;
}
.brands, .soc, .insta {
    border: 1px solid grey;
    width:auto;
    height: 250px;
}
.insta li{

    float:left;
    width: 15%;
    //height: 210px;
    //margin-bottom: 15px;
    //margin-right: 15px;
    margin-left: 10px;
}
.insta img{
    height: 170px;
    width: 170px;
    border: 2px solid white;
    margin: 15px;
    margin-left: 10px;
}
.insta img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.insta p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
i{
    color: white;
    float: right;
    padding-left: 10px;
}
.bread{
    transform: rotate(180deg);
    float: left;
    margin-left: 20px;
}

.bread li{
    display: inline-block;
    padding: 5px 35px;
    background: #CCD7A9;
    margin-right: -10px;
    border-right: 3px solid white;
    border-radius: 0 20px 20px 0;
    box-shadow: 1px 1px 3px silver;
    transform: rotate(180deg);   
}
.bread li:first-child{
    width: 60px;
    border:none;
}
.property img{
    margin-top: 10px;
}